@page "/report"
@rendermode InteractiveServer
@attribute [StreamRendering]

@inject ApplicationDbContext db;

<PageTitle>Справка</PageTitle>

<div class="d-flex flex-column gap-1" style="height: 98vh">
    <div class="d-flex justify-content-start align-items-center gap-2">
        <select @bind="month" class="form-control" style="width: 100px" @bind:after="LoadData">
            <option value="1">Януари</option>
            <option value="2">Февруари</option>
            <option value="3">Март</option>
            <option value="4">Април</option>
            <option value="5">Май</option>
            <option value="6">Юни</option>
            <option value="7">Юли</option>
            <option value="8">Август</option>
            <option value="9">Септември</option>
            <option value="10">Октомври</option>
            <option value="11">Ноември</option>
            <option value="12">Декември</option>
        </select>

        <select @bind="year" class="form-control" style="width: 100px" @bind:after="LoadData">
            @foreach (var year in Enumerable.Range(DateTime.UtcNow.AddYears(-5).Year, 6).Reverse())
            {
                <option value="@year">@year</option>
            }
        </select>

        <div class="flex-grow-1 d-flex gap-3 justify-content-center">
            <div>Каса: <strong>@((expense?.Vault ?? 0).ToString("C"))</strong></div>
            <div>Месечна: <strong>@((expense?.MonthlyFee ?? 0).ToString("C"))</strong></div>
            <div>Асансьор: <strong>@((expense?.Elevator ?? 0).ToString("C"))</strong></div>
            <div>Ток: <strong>@((expense?.Electricity ?? 0).ToString("C"))</strong></div>
            <div>Дом. любимци: <strong>@((expense?.Pets ?? 0).ToString("C"))</strong></div>
            <div>Общо: <strong>@((expense?.Total ?? 0).ToString("C"))</strong></div>
            <div>Приходи: <strong>@(userReports.Sum(r => r.Total).ToString("C"))</strong></div>
            <div>Задължения: <strong>- @(userReports.Sum(r => r.AmountDue).ToString("C"))</strong></div>
        </div>
    </div>

    <div class="flex-grow-1">
        <table class="table table-striped">
            <thead>
                <tr class="d-flex justify-content-evenly table-rows table-secondary">
                    <th class="text-center">Апартамент</th>
                    <th class="text-center">Етаж</th>
                    <th class="text-center">Живущи</th>
                    <th class="text-center">Каса</th>
                    <th class="text-center">Месечна такса</th>
                    <th class="text-center">Асансьор</th>
                    <th class="text-center">Ток</th>
                    <th class="text-center">Дом. любимци</th>
                    <th class="text-center">Общо</th>
                    <th class="text-center">Дължимо</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var report in userReports)
                {
                    <tr class="d-flex justify-content-evenly table-rows text-center">
                        <td style="padding: 5px 0">@report.ApartmentNo</td>
                        <td style="padding: 5px 0">@report.Floor</td>
                        <td style="padding: 5px 0">@report.NoOfPeopleLiving</td>
                        <td style="padding: 5px 0">@report.Vault.ToString("C")</td>
                        <td style="padding: 5px 0">@report.MonthlyFee.ToString("C")</td>
                        <td style="padding: 5px 0">@report.Elevator.ToString("C")</td>
                        <td style="padding: 5px 0">@report.Electricity.ToString("C")</td>
                        <td style="padding: 5px 0">@report.Pets.ToString("C")</td>
                        <td style="padding: 5px 0">@report.Total.ToString("C")</td>
                        <td style="padding: 5px 0">@report.AmountDue.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="mb-2">
        <button class="btn btn-info"><i class="fa-solid fa-file-pdf"></i> Print</button>
    </div>
</div>


@code {
    private int month = DateTime.UtcNow.Month;
    private int year = DateTime.UtcNow.Year;
    private List<UserReport> userReports = [];
    private Expense? expense;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        expense = await db.Expenses
            .AsNoTracking()
            .FirstOrDefaultAsync(e => e.Date.Month == month && e.Date.Year == year);

        if (expense is null)
        {
            userReports = [];
            return;
        }

        var users = await db.Users
            .Select(u => new
            {
                u.ApartmentNo,
                u.NoOfPeopleLiving,
                u.NoOfPets,
                u.AmountDue
            })
            .Distinct()
            .ToListAsync();

        userReports = users
            .Select(u => new UserReport(
                u.ApartmentNo,
                (int)Math.Ceiling(u.ApartmentNo / 3.0),
                u.NoOfPeopleLiving,
                expense.Vault * u.NoOfPeopleLiving,
                expense.MonthlyFee * u.NoOfPeopleLiving,
                expense.Elevator * u.NoOfPeopleLiving,
                expense.Electricity * u.NoOfPeopleLiving,
                expense.Pets * u.NoOfPets,
                ((expense.Total - expense.Pets) * u.NoOfPeopleLiving) + (expense.Pets * u.NoOfPets),
                u.AmountDue
            ))
            .ToList();
    }

    record UserReport(int ApartmentNo, int Floor, int NoOfPeopleLiving, decimal Vault, decimal MonthlyFee, decimal Elevator, decimal Electricity, decimal Pets, decimal Total, decimal AmountDue);
}
